#container-bg{
    
    background-image: url(conference-img2.jpg);
    width: 80%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}


.title-1{
    letter-spacing: 5px;
    font-size: 20px;
}


.title-2{

    font-size: 60px;
}

.title-3{
    font-size: 25px;
    line-height: 40px;
}


.logo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.iframe{
    width: 100%;
    height: 400px;
}

.text-1{

    font-size: 16px;
    letter-spacing: 5px;
    word-spacing: 5px;

}

.text-2{

    font-size: 45px;
}

.text-3{

    font-size: 1rem;
    line-height: 1.62;
    font-weight: 400;
    
}

.text-col{

    display: flex;
    justify-content: center;
    align-items: center;
}

.pad{
  
    padding-top: 60px;
    padding-bottom: 15px;
}

.parent{
    position: relative;
    width: 300px;
    height: 300px; margin: auto;
    
}

.child-1{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgb(12, 12, 60);
    top: -20px;
    left: -20px;
    transition: 0.5s;
   
}

.child-2{
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.5s;
}

.col-4 :hover .child-1{
    top: 20px;
    left: 20px;
    transition: 0.5s;
    
    
    
}

.col-4 :hover .child-2{
    top: -20px;
    left: -20px;
    transition: 0.5s;
}

.parent-2{
    position: relative;
    width: 300px;
    height: 300px; margin: auto;
    
}

.child-3{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgb(132, 132, 212);
    top: -20px;
    left: -20px;
    transition: 0.5s;
   
}

.child-4{
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.5s;
}

.col-4 :hover .child-3{
    top: 20px;
    left: 20px;
    transition: 0.5s;
    
    
    
}

.col-4 :hover .child-4{
    top: -20px;
    left: -20px;
    transition: 0.5s;
}

.parent-3{
    position: relative;
    width: 300px;
    height: 300px; margin: auto;
    
}

.child-5{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgb(242, 123, 80);
    top: -20px;
    left: -20px;
    transition: 0.5s;
   
}

.child-6{
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.5s;
}

.col-4 :hover .child-5{
    top: 20px;
    left: 20px;
    transition: 0.5s;
    
    
    
}

.col-4 :hover .child-6{
    top: -20px;
    left: -20px;
    transition: 0.5s;
}

.parent-4{
    position: relative;
    width: 300px;
    height: 300px; margin: auto;
    
}

.child-7{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgb(12, 12, 60);
    top: -20px;
    left: -20px;
    transition: 0.5s;
   
}

.child-8{
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.5s;
}

.col-4 :hover .child-7{
    top: 20px;
    left: 20px;
    transition: 0.5s;
    
    
    
}

.col-4 :hover .child-8{
    top: -20px;
    left: -20px;
    transition: 0.5s;
}


.parent-5{
    position: relative;
    width: 300px;
    height: 300px; margin: auto;
    
}

.child-9{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgb(132, 132, 212);
    top: -20px;
    left: -20px;
    transition: 0.5s;
   
}

.child-10{
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.5s;
}

.col-4 :hover .child-9{
    top: 20px;
    left: 20px;
    transition: 0.5s;
    
    
    
}

.col-4 :hover .child-10{
    top: -20px;
    left: -20px;
    transition: 0.5s;
}

.parent-6{
    position: relative;
    width: 300px;
    height: 300px; margin: auto;
    
}

.child-11{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgb(242, 123, 80);
    top: -20px;
    left: -20px;
    transition: 0.5s;
   
}

.child-12{
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.5s;
}

.col-4 :hover .child-11{
    top: 20px;
    left: 20px;
    transition: 0.5s;
    
    
    
}

.col-4 :hover .child-12{
    top: -20px;
    left: -20px;
    transition: 0.5s;
}

.team{
    font-size: 30px;
    font-weight: 400;
}

.manager{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    color: rgb(115, 115, 183);
}



.bg{
    width: 100%;
    height: 650px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;

}

.voilet{
    position: absolute;
    top: 60px;
    padding: 20px;
    width: 100%;
    height: 600px;
    
}
.violet-bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 650px;
    background-color: rgb(112, 112, 242, 0.8);
    
}

.title-4{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 5px;
}

.img{
    position: absolute;
    bottom: 10px;
    left: 58%;
}

.orange{
    position: absolute;
    width: 180px;
    height: 180px;
    bottom: -15px;
    left: 60%;
    background-color: rgb(255, 141, 99);
}

.style{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 5px;
    color: rgb(112, 112, 242);
}


.widget{
    padding: 40px;
    margin-bottom: 35px;
    background-color: rgb(246, 255, 246);
    text-align: center;
}

.color{
    color:  rgb(112, 112, 242);   
}

.card-wrap{
    margin: 95px 0px 95px;
    padding: 0px 35px 0px 70px;
    
   
}

.bc{
    background-color: rgb(246, 255, 246);
}

.pic{
    position: relative;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: -20px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.image{
    transition: 0.5s;
    
}




.col-3 :hover .image{
    transform: scale(1.1) rotate(10deg);
    
} 